.particular_topic_block {
    margin: 2em;
    padding: 2em;
    border: 1px solid red;
    border-radius: 5px;
    background: #ffffe6;
}

.sub-header {
   color: #dd4814;
   font-weight: 900;
   font-size: 1.5em;
}

.sub-sub-header {
   color: #4885ed;
   font-weight: 900;
   font-size: 1em;
}