.particular_topic_block {
    margin: 2em;
    padding: 2em;
    border: 1px solid red;
    border-radius: 5px;
    background: #ffffe6;
}

.sub-header {
   color: #dd4814;
   font-weight: 900;
   font-size: 1.2em;
}

.sub-sub-header {
   color: #4885ed;
   font-weight: 900;
   font-size: 1em;
}

.header {
   color: #dd4814;
   font-weight: 900;
   font-size: 1.4em;
}

.emphasize {
   color: #3cba54;
   font-size: 1em;
   font-style: italic;
}

.home {
   font-size: 0.5em;
}

.screencast {
	
  width: 700px;
  border-style: solid;
  border-width: 2px;
  border-color: #dd4814;
  
}